$base-color: #777;
$secondary-color: #000;
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Work Sans', sans-serif;

@import 'mixins';

body {
    font-family: $body-font;
    font-weight: 300;
    font-size: 16px;
    color: $base-color;
}

.link {
    color: $secondary-color;
    @include link ('blue', 'red', 'pink', 'purple');
}

.heading {
    font-family: $heading-font;
    font-weight: 900;
}